{% extends "base.html" %}
{% block title %}CafeCrest - Login{% endblock %}
{% block content %}
<style>
    body {
        background-color: #b0926a;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #login {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 10px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    .div {
        width: 100%;
        margin: auto;
    }
    h2 {
        text-align: center;
    }
    .login-centered {
        padding-top: 3rem;
        width: 40%;
        margin: auto;
    }
    input {
        height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .flash-message {
        color: red;
        text-align: center;
        margin-top: 1rem;
    }
</style>

<div class="login-centered">
    <form method="POST" id="login">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <div class="g-recaptcha" data-sitekey="6LdKdRcqAAAAAH8hbSx1-fPVrtAV7r5gfnPWlT9g"></div>
        <button type="submit">Login</button>
    </form>
</div>

<div class="flash-message" id="flash-message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% if lockout_time %}
<script>
    let lockoutTime = {{ lockout_time }};
    const flashMessageDiv = document.getElementById('flash-message');

    function updateLockoutMessage() {
        if (lockoutTime <= 0) {
            flashMessageDiv.innerHTML = 'You can try logging in again now.';
            return;
        }

        const minutes = Math.floor(lockoutTime / 60);
        const seconds = lockoutTime % 60;
        flashMessageDiv.innerHTML = Too many failed login attempts. Please try again in ${minutes} minute(s) and ${seconds} second(s).;
        lockoutTime--;

        setTimeout(updateLockoutMessage, 1000);
    }

    updateLockoutMessage();
</script>
{% endif %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}