{% extends "base.html" %}
{% block content %}

<style>
.container {
    max-width: 960px;
}

.table th,.table td {
    font-size: 1rem;
    vertical-align: top;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.fas.fa-arrow-left {
    font-size: 1.25em;
}
</style>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Staff Accounts</h1>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in staff %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.firstn }}</td>
                            <td>{{ user.lastn }}</td>
                            <td>{{ user.mobile }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</body>


<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
